:root {
  --main-color: #2196f3;
  --main-family: Roboto, sans-serif;
  --main-text-color: #757575;
  --title-color: #212121;
}

/* Общий стиль */
.page {
  font-family: var(--main-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.list {
  list-style: none;
  text-decoration: none;
}

/* Логотип */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.logo:focus {
  color: #000;
}

.logo-web {
  color: var(--main-color);
}

/* Навигация */
.site-nav {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.activ-menu {
  color: var(--main-color);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--main-color);
}

.conect-nav {
  color: var(--main-text-color);
}

/* Баннер */
.banner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  /* Временный фон */
  background-color: #2f303a;
}

.main-btn {
  font-family: var(--main-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
}

.activ-btn:hover,
.activ-btn:focus {
  color: #fff;
  background: var(--main-color);
}

/* Особенности */
.features {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Чем мы занимаемся */
.sect {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

/* Наша команда */
.team {
  line-height: 1.19;
  color: var(--title-color);
}

.team-prof {
  line-height: 1.19;
  color: var(--main-text-color);
}

/* Адрес */
.foot-logo,
.foot-logo:focus {
  color: #fff;
}

.mail-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.mail-tel:hover,
:focus {
  color: var(--main-color);
}

.adr {
  background-color: #2f303a;
}

.foot-adr {
  font-style: normal;
  color: #fff;
}

/* Портфолио фильтр */
.port-btn {
  font-family: var(--main-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.port-btn:hover,
.port-btn:focus {
  color: #fff;
  background: var(--main-color);
}

/* Портфолио услуги*/
.services {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.serv-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}
