:root {
  --main-color: #2196f3;
  --main-family: 'Roboto', sans-serif;
  --h-color: #212121;
}

/* Общий стиль */
.list {
  font-family: var(--main-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

li {
  list-style-type: none;
}

/* Логотип */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.logo-web {
  color: var(--main-color);
}

/* Навигация */
.main-nav {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
}

.main-nav:hover,
:focus {
  color: var(--main-color);
}

.adress-nav {
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.02em;
}

.adress-nav:hover,
:focus {
  color: var(--main-color);
}

/* Баннер */
.banner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffff;
  /* Временный фон */
  background-color: #2f303a;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffff;
  background-color: var(--main-color);
}

/* Особенности */
.features {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h-color);
}

/* Чем мы занимаемся */
.sect {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--h-color);
}

/* Наша команда */
.team {
  line-height: 1.19;
  color: var(--h-color);
}

.prof {
  line-height: 1.19;
}
